<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Amazing app to help you find nearest MBTA station</title>
  </head>
  <body>
      <h1>Hi there & I hope you are having a great day!</h1>
      <p>
          <form method="POST">
          <p>Type in your location like the following format: 656 Tremont St Boston</p>
          <p>
            <input type="text" name="place_name"/>
            <p>
                <input type="submit" value="Find the nearest MBTA station near you now!" />

  
      </p>
  </body>
</html>